<div class="container">
   <div class="mx-auto w-50">
      <button class="btn btn-danger" (click)="onClearData()">
        Clear the List
      </button>
        <hr />
    </div>

  <div class="mx-auto w-50">
    <h3>Student List</h3>
  </div>


  @for(student of studentList; track student.id){
  <div class="card mx-auto w-50">
    <div class="card-header">
      <h4>{{ student.name }}</h4>
    </div>
    <div class="card-body">
      <h5>ID: {{ student.id }}</h5>
      <h5>Age: {{ student.age }}</h5>
    </div>
  </div>
  }
</div>
